{% load static %}
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <title>kinda Book Finder</title>
        <style>
          body {
              background-color: #F8FAD7;
              background-position: center;
              height: 100%;
              background-repeat: no-repeat;
              background-size: cover;
          }

          h2,
          h1 {
              font-family: 'Righteous', sans-serif;
              background-color: #FAEBD7;
          }
        </style>
</head>

{% block content %}
<div class="text-center" style="margin-top: 30px;">
    <h1>Hello world!</h1>
    <h2>Log in</h2>
    {% if form.errors %}
    {{error}}
    {% endif %}
    <form method="POST" action='{% url "accounts:acc" %}'>
        {% csrf_token %}
        <label>Username</label>
        <br>
        {{ form.username }}
        <br>
        <label>Password</label>
        <br>
        {{ form.password }}
        <br>
        <input type="submit" value="Log in" class="button">
    </form>
</div>
<link rel="stylesheet" href="{% static 'css/account.css'%}">
{% endblock %}
