{% load static %}

{% load static %}
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <title>kinda Book Finder</title>
        <style>
        body {
            background-color: #F8FAD7;
            background-position: center;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        h2,
        h1 {
            font-family: 'Righteous', sans-serif;
            background-color: #FAEBD7;
        }
        </style>
</head>

{% block content %}

<div class="text-center" style="margin-top: 30px;">
    {% if user.is_authenticated %}
    <h1>Selamat datang, {{user}}</h1>
    <a href="{% url 'accounts:logout' %}">
        <div class='logout'>
            Log out
        </div>
    </a>
    {% else %}
    <h1>Log in dulu ya!</h1>
    <a href="{% url 'accounts:acc' %}">
        <div class='login'>
            Log in
        </div>
    </a>
    {% endif %}

</div>
<link rel="stylesheet" href="{% static 'css/account.css'%}">
{% endblock %}
