body {
    background-color: #F8FAD7;
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h2,
h1 {
    font-family: 'Righteous', sans-serif;
}

#header {
    font-size: 3rem;
}

.book-list {
    margin: 50px;
    visibility: hidden;
}

.container {
    background-color: #FAEBD7;
}