<!DOCTYPE html> {% load static %}
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>kinda Book Finder</title>
</head>
<body>
    <div class="container">
        <h1 id="title" class="text-center mt-5">Book Finder</h1>
        <div class="row">
            <div id="input" class="input-group mx-auto col-lg-6 col-md-8 col-sm-12">
                <input id="search-box" type="text" class="form-control" placeholder="Search Books..." value="">
                <button id="search" class="btn btn-primary" onclick="">Search</button>
            </div>
        </div>
        <div class="book-list">
            <h2 class="text-center">Search result</h2>
            <div id="list-output" class="">
                <div class="row">

                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <link rel="stylesheet" href="{% static 'css/mystyle.css'%}">
    <script type="text/javascript" src="{% static 'js/myscript.js'%}"></script>
</body>

</html>
